# Use postgres/example user/password credentials
version: '3.1'

services:

  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d

  adminer:
    image: adminer
    ports:
      - 8080:8080